## Wearable Tech: Week 5 Assignment

### Step 1

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn
import matplotlib.dates as mdates
import datetime
import plotly.graph_objects as go

import scipy.stats as stats

df = pd.read_csv("../Data/FH.csv")
df.head()

,Unnamed: 0,Timestamp,Seconds,Velocity,Acceleration,Odometer,Latitude,Longitude,Heart Rate,Player Load,AthleteID
0,0,9/30/2018 12:21:49 PM,0.0,0.06,-0.041234,0.0,42.263222,-83.741055,122,0.0,Athlete 1
1,1,9/30/2018 12:21:49 PM,0.1,0.06,-0.025926,0.0,42.263223,-83.741055,122,0.0,Athlete 1
2,2,9/30/2018 12:21:49 PM,0.2,0.06,-0.011945,0.0,42.263223,-83.741055,122,0.0,Athlete 1
3,3,9/30/2018 12:21:49 PM,0.3,0.09,0.048539,0.0,42.263223,-83.741055,122,0.0,Athlete 1
4,4,9/30/2018 12:21:49 PM,0.4,0.08,0.021406,0.0,42.263223,-83.741055,122,0.0,Athlete 1

In [2]:
df.drop(['Unnamed: 0', 'Latitude', 'Longitude', 'Heart Rate'], axis=1, inplace=True)

### Step 2

In [3]:
# create a copy of df and clean up columns consider multi-index
master= df.set_index(['Timestamp', 'AthleteID'], inplace=False)
master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0

### Step 3

In [4]:
# make new variable 20 seconds furtherest distance and 60 distance

master['farthest']= master.Odometer.diff(200)

master['one_mindistance']= master.Odometer.diff(600)

master.loc[master.one_mindistance < 0, 'one_mindistance'] = np.nan
master.loc[master.farthest < 0, 'farthest']= np.nan

master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load  farthest  one_mindistance
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0       NaN              NaN
                      Athlete 1          0.0       NaN              NaN
                      Athlete 1          0.0       NaN              NaN
                      Athlete 1          0.0       NaN              NaN
                      Athlete 1          0.0       NaN              NaN

### Step 4

In [5]:
max_value= master.groupby('AthleteID').agg([max])
max_value

,Seconds,Velocity,Acceleration,Odometer,Player Load,farthest,one_mindistance
,max,max,max,max,max,max,max
AthleteID,,,,,,,
Athlete 1,8759.98,7.24,5.981192,10036.75,891.5,119.37,232.70
Athlete 10,8749.93,6.79,5.580821,7269.15,615.6,111.93,276.47
Athlete 11,8749.93,6.56,3.825559,4791.84,449.0,87.14,188.02
Athlete 12,8749.91,7.38,4.360430,8551.21,734.4,177.37,190.98
Athlete 13,8749.93,6.33,7.034368,6345.99,609.2,83.81,192.87
Athlete 14,7855.38,6.58,4.908402,9906.41,951.3,94.24,201.00
Athlete 15,8749.93,6.61,11.318196,5001.16,540.0,85.37,187.88
Athlete 17,8749.93,7.71,5.889059,9896.45,888.5,97.05,214.22
Athlete 18,8759.92,6.63,5.557953,6326.56,688.5,81.20,179.21
Athlete 19,8749.92,6.85,4.089531,7952.18,781.6,107.76,212.21
Athlete 2,8749.93,4.69,3.819985,2001.83,220.6,67.25,113.17
Athlete 20,8749.93,7.32,5.553606,9214.04,886.7,95.91,250.36
Athlete 21,8749.93,6.31,5.394188,7360.27,624.5,99.72,191.86
Athlete 22,8749.93,3.94,3.201309,2209.77,262.3,55.32,90.69
Athlete 23,8749.92,7.17,6.044008,9254.26,1044.2,92.15,230.36
Athlete 24,8749.93,7.31,3.911020,6784.38,675.0,102.11,208.56
Athlete 3,8749.97,6.52,4.420637,4884.73,475.0,87.17,168.68
Athlete 4,8749.92,6.93,7.695746,8404.01,819.0,96.41,225.55
Athlete 5,8749.92,6.33,3.994656,7482.94,750.9,92.39,186.41
Athlete 6,8750.04,7.15,8.633133,10739.12,988.4,98.62,205.90
Athlete 7,8749.93,7.53,5.789903,10723.64,900.1,95.02,204.92
Athlete 9,8749.92,7.01,3.932414,9233.42,767.0,98.01,170.66

### Step 5

In [7]:
# find z score
max_value['zscores_vel']= stats.zscore(max_value.Velocity)
max_value['zscores_far']= stats.zscore(max_value.farthest)
max_value['zscores_one']= stats.zscore(max_value.one_mindistance)
max_value

,Seconds,Velocity,Acceleration,Odometer,Player Load,farthest,one_mindistance,zscores_vel,zscores_far,zscores_one
,max,max,max,max,max,max,max,,,
AthleteID,,,,,,,,,,
Athlete 1,8759.98,7.24,5.981192,10036.75,891.5,119.37,232.70,0.660933,1.029112,0.925621
Athlete 10,8749.93,6.79,5.580821,7269.15,615.6,111.93,276.47,0.132827,0.692774,2.044355
Athlete 11,8749.93,6.56,3.825559,4791.84,449.0,87.14,188.02,-0.137094,-0.427903,-0.216372
Athlete 12,8749.91,7.38,4.360430,8551.21,734.4,177.37,190.98,0.825233,3.651107,-0.140716
Athlete 13,8749.93,6.33,7.034368,6345.99,609.2,83.81,192.87,-0.407015,-0.578442,-0.092409
Athlete 14,7855.38,6.58,4.908402,9906.41,951.3,94.24,201.00,-0.113623,-0.106935,0.115389
Athlete 15,8749.93,6.61,11.318196,5001.16,540.0,85.37,187.88,-0.078416,-0.507919,-0.219950
Athlete 17,8749.93,7.71,5.889059,9896.45,888.5,97.05,214.22,1.212511,0.020096,0.453284
Athlete 18,8759.92,6.63,5.557953,6326.56,688.5,81.20,179.21,-0.054944,-0.696431,-0.441550
Athlete 19,8749.92,6.85,4.089531,7952.18,781.6,107.76,212.21,0.203241,0.504261,0.401910
Athlete 2,8749.93,4.69,3.819985,2001.83,220.6,67.25,113.17,-2.331670,-1.327066,-2.129491
Athlete 20,8749.93,7.32,5.553606,9214.04,886.7,95.91,250.36,0.754819,-0.031439,1.377000
Athlete 21,8749.93,6.31,5.394188,7360.27,624.5,99.72,191.86,-0.430487,0.140799,-0.118224
Athlete 22,8749.93,3.94,3.201309,2209.77,262.3,55.32,90.69,-3.211847,-1.866384,-2.704066
Athlete 23,8749.92,7.17,6.044008,9254.26,1044.2,92.15,230.36,0.578783,-0.201417,0.865812
Athlete 24,8749.93,7.31,3.911020,6784.38,675.0,102.11,208.56,0.743083,0.248843,0.308618
Athlete 3,8749.97,6.52,4.420637,4884.73,475.0,87.17,168.68,-0.184037,-0.426547,-0.710690
Athlete 4,8749.92,6.93,7.695746,8404.01,819.0,96.41,225.55,0.297127,-0.008836,0.742872
Athlete 5,8749.92,6.33,3.994656,7482.94,750.9,92.39,186.41,-0.407015,-0.190567,-0.257522
Athlete 6,8750.04,7.15,8.633133,10739.12,988.4,98.62,205.90,0.555312,0.091071,0.240630
Athlete 7,8749.93,7.53,5.789903,10723.64,900.1,95.02,204.92,1.001268,-0.071673,0.215582
Athlete 9,8749.92,7.01,3.932414,9233.42,767.0,98.01,170.66,0.391012,0.063495,-0.660082

### Step 6

In [9]:
# adding up the z-scores to provide my simple global metric! 

max_value['Metric'] = stats.zscore(max_value['Velocity']) + stats.zscore(max_value['farthest'])+stats.zscore(max_value['one_mindistance']) + 10

print(max_value)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   119.37
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   111.93
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0    87.14
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2    83.81
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3    94.24
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0    85.37
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5    97.05
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5    81.20
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   107.76
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    67.25
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7    95.91
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5    99.72
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    55.32
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2    92.15
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   102.11
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0    87.17
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0    96.41
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9    92.39
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4    98.62
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1    95.02
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0    98.01

           one_mindistance zscores_vel zscores_far zscores_one     Metric
                       max
AthleteID
Athlete 1           232.70    0.660933    1.029112    0.925621  12.615667
Athlete 10          276.47    0.132827    0.692774    2.044355  12.869955
Athlete 11          188.02   -0.137094   -0.427903   -0.216372   9.218631
Athlete 12          190.98    0.825233    3.651107   -0.140716  14.335624
Athlete 13          192.87   -0.407015   -0.578442   -0.092409   8.922134
Athlete 14          201.00   -0.113623   -0.106935    0.115389   9.894831
Athlete 15          187.88   -0.078416   -0.507919   -0.219950   9.193715
Athlete 17          214.22    1.212511    0.020096    0.453284  11.685891
Athlete 18          179.21   -0.054944   -0.696431   -0.441550   8.807074
Athlete 19          212.21    0.203241    0.504261    0.401910  11.109412
Athlete 2           113.17   -2.331670   -1.327066   -2.129491   4.211773
Athlete 20          250.36    0.754819   -0.031439    1.377000  12.100379
Athlete 21          191.86   -0.430487    0.140799   -0.118224   9.592088
Athlete 22           90.69   -3.211847   -1.866384   -2.704066   2.217704
Athlete 23          230.36    0.578783   -0.201417    0.865812  11.243179
Athlete 24          208.56    0.743083    0.248843    0.308618  11.300544
Athlete 3           168.68   -0.184037   -0.426547   -0.710690   8.678726
Athlete 4           225.55    0.297127   -0.008836    0.742872  11.031162
Athlete 5           186.41   -0.407015   -0.190567   -0.257522   9.144895
Athlete 6           205.90    0.555312    0.091071    0.240630  10.887013
Athlete 7           204.92    1.001268   -0.071673    0.215582  11.145177
Athlete 9           170.66    0.391012    0.063495   -0.660082   9.794425

In [ ]:
11, 12, 22, 12, wrong 11.38